@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #3f4ed6;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .btn-extended {
    position: relative;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .btn-extended:after {
    --btn-extended-size: -4px;

    content: '';
    position: absolute;
    top: var(--btn-extended-size);
    bottom: var(--btn-extended-size);
    left: var(--btn-extended-size);
    right: var(--btn-extended-size);
    border-radius: var(--radius);
    background: transparent;
    cursor: pointer;
    /*border: 1px solid red;*/
  }
}

body {
  background: #fafafa;
}

.block {
  display: flex;
  gap: 89px;
}

.ant-upload-list-item {
  display: none !important;
}

.ant-upload {
  display: block !important;
}

.search-button-shadow {
  box-shadow: 0 0 7px 0 rgba(0 0 0 / 45%);
}

.baggage-card-shadow {
  box-shadow: 0 0 15px 0 rgba(0 0 0 / 4%);
}

.custom-shadow {
  box-shadow: 0 0 12px 0 rgba(0 0 0 / 10%);
}

.reservation-button-shadow {
  box-shadow: 0 2px 8px 0 rgba(0 0 0 / 4%);
}
.flag-dropdown {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

.custom-light-shadow {
  box-shadow: 0 0 20px 0 rgba(0 0 0 / 25%);
}

.custom-shadow-2 {
  box-shadow: 0 0 12px 4px rgba(0 0 0 / 4%);
}

.nav-link-hover,
.nav-link-hover-dark {
  position: relative;

  &:hover {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -2px;
      height: 1px;
      width: 50%;
      margin-left: 25%;
    }
  }
}

.nav-link-hover {
  &:hover {
    &::after {
      background: #fff;
    }
  }
}

.nav-link-hover-dark {
  &:hover {
    color: #3f4ed6;

    &::after {
      background: #596ad9;
    }
  }
}

#questions {
  scroll-margin-top: 100px;
}

.fly-line {
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: -3px;
    width: 12px;
    height: 6px;
    border-radius: 10px;
    background: #596ad9;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.fly-line-stopover {
  margin-top: -1px;
  width: 12px;
  height: 6px;
  border-radius: 10px;
  background: #ffe959;
  cursor: pointer;

  &:hover {
    .fly-line-stopover-tooltip {
      display: block;
      visibility: visible;
      z-index: 9999;
    }
  }
}

.fly-line-stopover-tooltip {
  @apply invisible absolute right-1/2 top-1 translate-x-1/2 p-1.5 text-xs font-medium text-[#172376];
}
.fly-line-stopover-tooltip-content {
  @apply w-44 rounded-sm border-2 border-[#FFE959] bg-white p-2 font-light;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

  &:first-child {
    margin-left: 0;
  }
  width: 300px !important;
}
.swiper-container {
  width: 100%;
}

.ellipsis-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.statistic-picker.ant-picker-cell-inner {
  border-radius: 40px !important;

  &::before {
    border-radius: 40px !important;
  }
}

.home-tabs .ant-tabs-tab-btn {
  color: #fff;
  padding-inline: 16px;
  font-size: 16px;
}

.datePickerPopUp .ant-picker-cell-inner,
.datePickerPopUp .ant-picker-cell-inner::before {
  border-radius: 40px !important;
  min-width: 26px !important;
  height: 26px !important;
  line-height: 26px !important;
}

.ant-picker-cell-disabled {
  color: #aaaaaa !important;
}

.ant-picker-cell-disabled::before {
  background: transparent !important;
}

.customCalendar .ant-picker-panel {
  border-top: 0 !important;
  padding: 8px 20px 0;
}

.customCalendar .ant-picker-cell-inner,
.customCalendar .ant-picker-cell-inner::before {
  border-radius: 40px !important;
  min-width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;
}

.customCalendarNavBtn:disabled {
  background: #e0e0e0 !important;
  svg {
    fill: #000;
  }
}

.customCalendar .ant-picker-calendar-date-value {
  font-size: 10px;
}

.ant-picker-cell-selected.ant-picker-cell-inner {
  background: #596ad9 !important;
}

.customCalendar .ant-picker-body {
  border-top: 1px solid #bdbdbd;
}

.customCalendar .ant-picker-content {
  height: 177px;
}

.customCalendar .ant-picker-cell {
  padding: 0;
  height: 2px !important;
}

.customCalendar {
  overflow: hidden;
  border-radius: 0 0 20px 20px !important;
}

@media (max-width: 768px) {
  .customCalendar .ant-picker-calendar-date-value {
    font-size: 18px;
  }

  .customCalendar .ant-picker-cell-inner,
  .customCalendar .ant-picker-cell-inner::before {
    border-radius: 40px !important;
    min-width: 32px !important;
    height: 32px !important;
    line-height: 32px !important;
  }

  .customCalendar .ant-picker-cell {
    padding: 0;
    height: 4px !important;
  }

  .customCalendar .ant-picker-content {
    height: 228px;
  }
}

.ant-picker-calendar-date-today,
.ant-picker-cell-selected .ant-picker-calendar-date {
  background: #3f4ed6 !important;
  color: #fff !important;
}

.searchDropDownShadow {
  box-shadow: inset 0 4px 4px 0 rgba(0 0 0 / 10%);
}

.dropdown-shadow {
  box-shadow: 0 4px 4px 0 rgba(0 0 0 / 10%);
}

.customCalendarNavBtn {
  background: #3f4ed6 !important;
}

.passengersPickerBtn {
  width: 26px !important;
  height: 26px !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #3f4ed6 !important;
  border-color: #3f4ed6 !important;
}

.customCalendar .ant-picker-content {
  font-size: 10px;
}

.customCalendar .ant-picker-calendar-mode-switch {
  display: none;
}

.rounded-bottom-left-none {
  border-radius: 50px 50px 50px 0 !important;
}

.rounded-bottom-right-none {
  border-radius: 50px 50px 0 50px !important;
}

.customCalendar .ant-select {
  height: 40px !important;
}

.customCalendar
  .ant-picker-date-panel
  .ant-picker-cell:not(.ant-picker-cell-in-view)
  .ant-picker-cell-inner {
  display: none;
}

.customCalendar
  .ant-picker-date-panel
  .ant-picker-cell:not(.ant-picker-cell-in-view) {
  pointer-events: none;
}

.customInput {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
.scroll-small {
  scrollbar-width: 1px !important ;
}

.ticket-tabs {
  .ant-tabs-content {
    max-height: 70vh;
    overflow-y: scroll;
  }
}

.statistic-picker.ant-picker-panel-container,
.statistic-picker.ant-picker-panel-layout
  .statistic-picker.ant-picker-date-panel {
  width: 100% !important;
  z-index: 100;
}

.statistic-picker.ant-picker-outlined {
  background: transparent !important;
  border: transparent !important;
}

.statistic-picker .ant-picker-input {
  display: none !important;
}

.autocompleteSelect .ant-select-selector .ant-select-selection-search {
  inset-inline-start: 0 !important;
}

.autocompleteSelect .ant-select-selector {
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
}
.autocompleteSelect .ant-select-arrow {
  display: none;
}

.ant-select-selector {
  border-radius: 8px !important;
}

.autocompleteSelectPopUpFrom,
.autocompleteSelectPopUpTo {
  min-width: 268px !important;
}

.search-drawer .ant-drawer-header {
  padding: 16px 8px !important;
  border-bottom: 0 !important;
  z-index: 99999999;
}

.search-drawer {
  background: #fafafa !important;
}

.search-drawer .ant-drawer-body {
  padding: 8px 16px 16px !important;
}

.search-drawer .ant-drawer-header .ant-drawer-header-title {
  display: flex;
  justify-content: end;

  .ant-drawer-close {
    font-weight: 600;
    svg {
      fill: #000;
    }
  }
}

.rc-virtual-list-scrollbar {
  width: 2px !important;
}

.home-drawer {
  background: #f4f4f4 !important;
  .ant-drawer-header {
    border: 0;
    .ant-drawer-header-title {
      justify-content: flex-end;

      button {
        margin-inline-end: 0;
      }
    }
  }

  .ant-drawer-body {
    padding-top: 0;
  }
}

.blue-bg {
  background: #3f4ed6 !important;
}

.bt-primary-custom {
  background: #3f4ed6;
  color: #fff;
  border: none;
  min-height: 32px !important;

  &:hover {
    background: #3f4ed6 !important;
    color: #fff !important;
    opacity: 0.7 !important;
  }
}

.btn-primary {
  background: #3f4ed6;
  color: #fff;
  border: none;
  min-height: 40px !important;

  &:hover {
    background: #3f4ed6 !important;
    color: #fff !important;
    opacity: 0.7 !important;
  }
}

.green-button {
  background: #11d2a4;
  color: #fff;

  &:hover {
    background: #11d2a4 !important;
    color: #fff !important;
    opacity: 0.7 !important;
  }

  &:disabled {
    background: #e0e0e0 !important;
    color: #fff !important;
  }
}

.react-tel-input .flag-dropdown {
  border: 1px solid #e7e7e7 !important;
  background: #fff !important;
}

.search-input {
  input,
  button {
    height: 44px !important;
  }
}

.datePickerPopUp .ant-picker-header-super-prev-btn,
.datePickerPopUp .ant-picker-header-super-next-btn {
  display: none !important;
}

.carouselSelectorItem {
  &::after {
    content: '';
    position: absolute;
    top: 20%;
    right: 0;
    width: 1px;
    height: 60%;
    background: #ececec;
  }
}

.flightCardContentLine {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 12px;
    width: 1px;
    height: 100%;
    background: #ececec;
  }
}

.custom-container {
  max-width: 1280px;
  padding-inline: 20px;
}

.padding-none {
  padding: 0 !important;
}

.btn-primary-custom {
  background: #3f4ed6;
}

.content-fields {
  p {
    padding: 16px 0;
  }

  h3 {
    font-weight: 600;
    font-size: 20px;
    margin: 12px 0;
  }
  ul {
    margin-left: 20px;
  }
}

.calendar-selected .ant-picker-calendar-date-today {
  background: #fff !important;
  color: #000000e0 !important;

  &::before {
    border: none !important;
  }
}

.calendar-selected-today .ant-picker-calendar-date-today {
  background: #3f4ed6 !important;
  color: #fff !important;

  &::before {
    border: #3f4ed6 !important;
  }
}

.disabled-today .ant-picker-calendar-date-today {
  background: #fff !important;
  color: #aaaaaa !important;

  &::before {
    border: none !important;
  }
}

.home-search-phone .flag-dropdown {
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
  border: 0 !important;
  padding-left: 12px !important;
}

.home-search-phone .flag-dropdown .open {
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
}

.home-search-phone .form-control {
  padding-left: 58px !important;
}

.home-search-phone .country-list {
  margin: 0 0 0 10px !important;
}

@media (min-width: 1440px) {
  .custom-container {
    max-width: none;
    padding-inline: 90px;
  }
}

@media (max-width: 768px) {
  .swiper-slide {
    width: 190px !important;
  }

  .green-button {
    &:hover {
      opacity: 1 !important;
    }
  }

  .padding-right-none {
    padding-right: 0 !important;
  }

  .ant-notification-notice-description {
    padding-right: 16px !important;
  }
}

@media (max-width: 1024px) {
  .search-button-shadow {
    box-shadow: none;
  }

  .flightCardContentLine {
    &::after {
      display: none;
    }
  }
}
