@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #3f4ed6;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .btn-extended {
    position: relative;
  }

  .btn-extended:after {
    --btn-extended-size: -4px;

    content: '';
    position: absolute;
    top: var(--btn-extended-size);
    bottom: var(--btn-extended-size);
    left: var(--btn-extended-size);
    right: var(--btn-extended-size);
    border-radius: var(--radius);
    background: transparent;
    cursor: pointer;
    /*border: 1px solid red;*/
  }
}

body,
html {
  background: #fafafa;
}

.block {
  display: flex;
  gap: 89px;
}

.search-button-shadow {
  box-shadow: 0 0 7px 0 rgba(0 0 0 / 45%);
}

.custom-shadow {
  box-shadow: 0 0 12px 0 rgba(0 0 0 / 10%);
}

.fly-line {
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: -3px;
    width: 12px;
    height: 6px;
    border-radius: 10px;
    background: #596ad9;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.fly-line-stopover {
  margin-top: -1px;
  width: 12px;
  height: 6px;
  border-radius: 10px;
  background: #ffe959;
  cursor: pointer;

  &:hover {
    .fly-line-stopover-tooltip {
      display: block;
      visibility: visible;
      z-index: 9999;
    }
  }
}

.fly-line-stopover-tooltip {
  @apply invisible absolute right-1/2 top-1 translate-x-1/2 p-1.5 text-xs font-medium text-[#172376];
}
.fly-line-stopover-tooltip-content {
  @apply w-44 rounded-sm border-2 border-[#FFE959] bg-white p-2 font-light;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

  &:first-child {
    margin-left: 0;
  }
  width: 300px !important;
}
.swiper-container {
  width: 100%;
}

.ellipsis-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.statistic-picker.ant-picker-cell-inner {
  border-radius: 40px !important;

  &::before {
    border-radius: 40px !important;
  }
}

.home-tabs .ant-tabs-tab-btn {
  color: #fff;
  padding-inline: 16px;
  font-size: 16px;
}

.datePickerPopUp .ant-picker-cell-inner,
.datePickerPopUp .ant-picker-cell-inner::before {
  border-radius: 40px !important;
  min-width: 26px !important;
  height: 26px !important;
  line-height: 26px !important;
}

.scroll-small {
  scrollbar-width: 1px !important ;
}

.ticket-tabs {
  .ant-tabs-content {
    max-height: 70vh;
    overflow-y: scroll;
  }
}

.statistic-picker.ant-picker-panel-container,
.statistic-picker.ant-picker-panel-layout
  .statistic-picker.ant-picker-date-panel {
  width: 100% !important;
  z-index: 100;
}

.statistic-picker.ant-picker-outlined {
  background: transparent !important;
  border: transparent !important;
}

.statistic-picker .ant-picker-input {
  display: none !important;
}

.autocompleteSelect .ant-select-selector .ant-select-selection-search {
  inset-inline-start: 0 !important;
}

.autocompleteSelect .ant-select-selector {
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
}
.autocompleteSelect .ant-select-arrow {
  display: none;
}

.autocompleteSelectPopUp {
  min-width: 280px !important;
}

.rc-virtual-list-scrollbar {
  width: 2px !important;
}

.home-drawer {
  background: #f4f4f4 !important;
  .ant-drawer-header {
    border: 0;
    .ant-drawer-header-title {
      justify-content: flex-end;

      button {
        margin-inline-end: 0;
      }
    }
  }

  .ant-drawer-body {
    padding-top: 0;
  }
}

.blue-bg {
  background: #3f4ed6 !important;
}

.green-button {
  background: #11d2a4;
  color: #fff;

  &:hover {
    background: #11d2a4 !important;
    color: #fff !important;
    opacity: 0.7 !important;
  }
}

.react-tel-input .flag-dropdown {
  border: 1px solid #e7e7e7 !important;
  background: #fff !important;
}

.search-input {
  input,
  button {
    height: 44px !important;
  }
}

.datePickerPopUp .ant-picker-header-super-prev-btn,
.datePickerPopUp .ant-picker-header-super-next-btn {
  display: none !important;
}

@media (max-width: 768px) {
  .swiper-slide {
    width: 190px !important;
  }

  .ant-notification-notice-description {
    padding-right: 16px !important;
  }
}

@media (max-width: 1024px) {
  .search-button-shadow {
    box-shadow: none;
  }
}
